<header class="header position-relative js-header ">
  <div class="header__container container max-width-lg">
    <div class="header__logo">
      <a href="#0">
        Vetala
      </a>
    </div>

    <button class="btn btn--subtle header__trigger js-header__trigger" aria-label="Toggle menu" aria-expanded="false" aria-controls="header-nav">
      <i class="header__trigger-icon" aria-hidden="true"></i>
      <span>Menu</span>
    </button>

    <nav class="header__nav js-header__nav" id="header-nav" role="navigation" aria-label="Main">
      <div class="header__nav-inner">

        <ul class="header__list">
          <li class="header__item"><a href="#0" class="header__link">Projects</a></li>
          <li class="header__item"><a href="#0" class="header__link">Blog</a></li>
          <li class="header__item"><a href="#0" class="header__link">About</a></li>
          <li class="header__item"><a href="#0" class="header__link">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>